* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.cantainer {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 119px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }
  .main-list {
    flex-grow: 1;
    padding-left: 60px;
  }
  .list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000;
  }
  .list li:hover {
    color: #5955b3;
  }
  .large-button {
    padding: 12px 25px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .small-button {
    padding: 10px 20px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    color: #3c2f60;
  }
  
  .heading span {
    color: #5955b3;
  }
  .discraption {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 28px;
  }
  
  .large-button {
    margin-top: 72px;
  }
  .large-button:hover{
    color: rgb(8, 7, 7);
    background-color: #3c2f60;
  }
  .small-button:hover{
    color: #000;
    background-color: cadetblue;
  }